<div class="container">
    <div class="conteudo">
        <!-- esse (click) é um event bind -->
        <!-- <button type="button" class="btn btn-{{buttonCor}}"(click)="show()">{{butaoNome}}</button>
        <button (click)="mudar()">clique aqui</button>  -->
        <div class="row">
            <div class="col-4" *ngFor="let foto of fotos; index as i">                 
                <div class="card" style="width: 18rem;">
                    <phw-foto [imagem]="foto.path"></phw-foto>
                    <div class="card-body bg-dark text-light">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>                          
            </div>
        </div>
    </div>
</div>
