<!-- ngForm vai permitir criar uma variavel no html, na verdade será um array -->
<!-- ngModel vai trabalhar em conjunto com o ngForm -->

<div class="container" style="margin-top: 100px">
    <h1 class="text-center">Formulário de Cadastro</h1>
    
    <form #formulario="ngForm" (ngSubmit)="cadastrar(formulario)">
        <div class="form-group">
          <label>Endereço da Imagem(URL)</label>
          <input type="text" class="form-control" placeholder="http://imagem.com" name="img" ngModel required>
        </div>
        <div class="form-group">
          <label>Título da Foto</label>
          <input type="text" class="form-control" placeholder="Título da Foto" name="titulo" ngModel required>
        </div>
       
        <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Submit</button>
      </form>
</div>
